body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    background: white;
    @include loadingspinner;
}

//Header
.header {
    padding: 1rem;
    background: $gris-fond;
    box-shadow: 0 0 0.5rem rgba(102, 102, 102, 0.945);

    &__logo {
        @include omf;
        text-align: center;
    }
}
// Localisation
.localisation {
    display: flex;
    justify-content: center;
    background: rgba(233, 233, 233, 0.671);
    padding: 1.2rem 0.5rem 1.2rem 0.5rem;
    .fas.fa-map-marker-alt {
        font-size: 1.2rem;
        padding-right: 0.9rem;
    }
    &__txt {
        font-size: 1.2rem;
        font-weight: 500;
    }
}
// Reservez
.reservez {
    text-align: center;
    background: $gris-fond;
    padding: 2rem;

    &__titre {
        font-size: 1.5rem;
        font-weight: 600;
    }

    &__soustitre {
        font-weight: 300;
        font-size: 1rem;
        margin: 2rem 0;
    }

    &__btn {
        @include btnrose;
    }
}
// Note facon pour integrer dans pseudo element pour anim case a cocher
// content:'\f004';
// color: black;
// font-family: "Font Awesome 5 Free";
//  https://fontawesome.com/v5.15/how-to-use/on-the-web/advanced/css-pseudo-elements

// Fonctionnement
.fonctionnement {
    &__liste {
        margin: 0 $margin $margin 2rem;
        display: grid;
        row-gap: 2rem;
        @media (min-width: 980px) {
            grid-template-columns: repeat(3, 1fr);
            column-gap: 1.2rem;
        }
    }

    &__item {
        @include itemfonctionnement;
        position: relative;
        &:hover {
            background: #9256dc2a;
        }
        // Peut on simplifier en dessous ?
        &:hover .fas.fa-mobile-alt {
            color: #9256dc;
        }
        &:hover .fas.fa-list-ul {
            color: #9256dc;
        }
        &:hover .fas.fa-store {
            color: #9256dc;
        }
    }
    &__puce {
        @include pucefonctionnement;
    }
    &__txt {
        font-weight: 500;
        margin-left: 1rem;
    }

    .fas.fa-mobile-alt {
        @extend %icone_fonctionnement;
    }
    .fas.fa-list-ul {
        @extend %icone_fonctionnement;
    }
    .fas.fa-store {
        @extend %icone_fonctionnement;
    }
}

//
.h2titres {
    @include h2setting;
}
//
.container {
    max-width: 1400px;
    margin: auto;
    padding-bottom: 30px;
}
.container2 {
    background: $gris-fond;
    padding-bottom: 30px;
}
.container3 {
    max-width: 1400px;
    margin: auto;
    padding-top: 0.1rem;
}

.articles {
    max-width: 1400px;
    margin: auto;
    padding-bottom: 2rem;
    background-color: $gris-fond;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;

    @media (min-width: 700px) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.article {
    position: relative;
    box-shadow: 0px 5px 8px rgba(179, 179, 179, 0.726);
    border-radius: 12px 12px 12px 12px;
    margin: 0 $margin 0 $margin;

    &:visited {
        color: black;
    }

    &__image {
        width: 100%;
        height: 160px;
        object-fit: cover;
        border-radius: 12px 12px 0px 0px;
    }
    &__nouveau {
        position: absolute;
        top: 15px;
        right: 15px;
        background-color: $vert-nouveau;
        color: #008766;
        padding: 0.4rem 0.7rem 0.4rem 0.7rem;
        font-size: 0.9rem;
        border-radius: 2px;
        font-weight: 500;
        box-shadow: 1px 5px 5px rgba(97, 97, 97, 0.288);
    }
    &__footer {
        display: flex;
        align-items: center;
    }
    &__txt {
        width: 100%;
    }
    &__titre {
        font-size: 1.1rem;
        font-weight: 700;
        padding: 0.6rem 0 0.2rem 0.7rem;
    }
    &__soustitre {
        display: block;
        padding: 0rem 0 0.8rem 0.7rem;
    }

    @include coeur;
    &__coeur {
        padding-right: 1rem;
    }
}

.footer {
    @include pied;
}
