// btn rose dégradé
@mixin btnrose  {
    background: linear-gradient(($secondaire), ($primaire));
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 30px;
    padding: 0.8rem 1.5rem;
    box-shadow: 5px 5px 11px rgba(146, 146, 146, 0.726);
}

// Cadre fonctionnement
@mixin itemfonctionnement  {
    display: flex;
    background: $gris-fond;
    border-radius: 18px;
    padding: 1.8rem 2.2rem;
    margin: 1.5rem;
    box-shadow: 5px 5px 11px rgba(179, 179, 179, 0.726);
}

// Puce liste fonctionnement
@mixin pucefonctionnement {
    position: absolute;
    left: -15px;
    top: 25px;
    color: white;
    text-align: center;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 100%;
    background: $primaire;
    padding-top: 0.2rem;
}