//style ohmyfood et autres font de ce style
@mixin omf($couleur: rgb(0, 0, 0), $taille: 2rem, $gras: 700) {
    font-family: "Shrikhand", cursive;
    font-weight: $gras;
    font-size: $taille;
    color: $couleur;
}

@mixin omfadelete {
    font-family: "Shrikhand", cursive;
    font-weight: 700;
    font-size: 2rem;

    text-align: center;
}

// btn rose dégradé
@mixin btnrose($padside: 1.5rem) {
    background: linear-gradient(170deg, ($secondaire), ($primaire));
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 30px;
    padding: 0.8rem $padside;
    box-shadow: 5px 5px 11px rgba(146, 146, 146, 0.726);
}

// Cadre fonctionnement
@mixin itemfonctionnement {
    display: flex;
    background: $gris-fond;
    border-radius: 18px;
    padding: 1.8rem 2.2rem;
    margin: $margin;
    box-shadow: 5px 5px 11px rgba(179, 179, 179, 0.726);
}

// Puce liste fonctionnement
@mixin pucefonctionnement {
    position: absolute;
    left: -15px;
    top: 25px;
    color: white;
    text-align: center;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 100%;
    background: $primaire;
    padding-top: 0.2rem;
}

// Mise en forme h2
@mixin h2setting {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1rem;
    padding-left: $padleft;
}

// Footer
@mixin pied {
    background-color: $fond-footer;
    padding-left: 1.5rem;
    ol {
        list-style: none;
    }
    color: white;
    font-size: 0.9rem;
}
