body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    background: white;
}

.header--withback {
    //Combinateur
    position: relative;
    .fas.fa-arrow-left {
        //fleche retour
        position: absolute;
        top: 30px;
        left: 33px;
        font-size: 1.2rem;
        color: rgb(71, 71, 71);
    }
}

.imgheader {
    display: block;
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    z-index: 1;
}

.mainplats {
    max-width: 1400px;
    margin: auto;
    padding-top: 40px;
    background: $gris-fond;
    margin-top: -35px;
    border-radius: 35px 35px 0 0;
    position: relative;
    z-index: 5;
}

.headerplats {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;

    &__titre {
        padding-left: $padleft;
        width: 100%;
        @include omf($taille: 1.7rem);
    }

    @include coeur($hcoeur: 28px, $wcoeur: 28px);
    &__coeur {
        position: relative;
        padding-right: 1.2rem;
        &__rempli {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            width: 28px;
            height: 28px;
        }
    }
}

.sousmenus {
    display: grid;
    @media (min-width: 1000px) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.menu {
    display: flex;
    background: white;
    box-shadow: 0px 5px 9px rgba(224, 224, 224, 0.726);
    border-radius: 15px;
    margin: 0 $margin 1.2rem $margin;
    overflow: hidden;

    &__contenu {
        flex: 1;
        width: 0;
        padding: 0.7rem;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__header {
        padding-left: $padleft;
        padding-bottom: 0.5rem;
        margin-bottom: 0.9rem;
        margin-top: 1.5rem;
        font-size: 1.2em;
        font-weight: 300;
        position: relative;
        &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            left: $padleft;
            width: 50px;
            height: 3px;
            background: $vert-nouveau;
        }
    }

    &__titre {
        display: block;
        font-size: 1.2rem;
        font-weight: 500;
        padding-bottom: 0.4rem;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    &__soustitre {
        font-size: 0.9rem;
        font-weight: 400;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    &__prix {
        font-size: 0.9rem;
        font-weight: 600;
        padding-top: 2.8rem;
        padding-right: 1rem;
    }

    &__anim {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0 15px 15px 0;
        background: $vert-nouveau;
        transition-duration: 0.6s;
        width: 0;
    }

    &:hover > .menu__anim {
        width: 90px;
        animation: slideleft 0.6s;
    }
    .fas.fa-check-circle {
        color: rgba(255, 255, 255, 1);
        font-size: 1.5rem;
        transition-duration: 0.6s;
        overflow: hidden;
    }

    &:hover .fas.fa-check-circle {
        transform: rotate(360deg);
        animation: slideleft 0.6s;
        animation-fill-mode: both;
    }
}

.commander {
    width: 194px;
    margin-top: 2rem;
    padding-bottom: 4rem;
    margin-left: auto;
    margin-right: auto;
    &__btn {
        @include btnrose(3rem);
    }
}

.itemmenu {
    @include animliste;
}
