// Couleurs Principales
$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;
$gris-fond: #f6f6f6;
$vert-nouveau: #99e2d0;
$fond-footer: #353535;

//Marge et padding left des Titres
$margin: 1.2rem;
$padleft: 1.2rem;