* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:link {
  text-decoration: none;
}

.fonctionnement .fas.fa-store, .fonctionnement .fas.fa-list-ul, .fonctionnement .fas.fa-mobile-alt {
  color: rgba(156, 156, 156, 0.932);
  font-size: 1rem;
  padding-right: 1rem;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background: white;
}

.header {
  padding: 1rem;
  background: #f6f6f6;
  box-shadow: 0 0 0.5rem rgba(102, 102, 102, 0.945);
}
.header__logo {
  font-family: "Shrikhand", cursive;
  font-weight: 700;
  font-size: 2rem;
  color: black;
  text-align: center;
}

.localisation {
  display: flex;
  justify-content: center;
  background: rgba(233, 233, 233, 0.671);
  padding: 1.2rem 0.5rem 1.2rem 0.5rem;
}
.localisation .fas.fa-map-marker-alt {
  font-size: 1.2rem;
  padding-right: 0.9rem;
}
.localisation__txt {
  font-size: 1.2rem;
  font-weight: 500;
}

.reservez {
  text-align: center;
  background: #f6f6f6;
  padding: 2rem;
}
.reservez__titre {
  font-size: 1.5rem;
  font-weight: 600;
}
.reservez__soustitre {
  font-weight: 300;
  font-size: 1rem;
  margin: 2rem 0;
}
.reservez__btn {
  background: linear-gradient(170deg, #ff79da, #9356dc);
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 30px;
  padding: 0.8rem 1.5rem;
  box-shadow: 5px 5px 11px rgba(146, 146, 146, 0.726);
}
.reservez__btn:hover {
  background: #008766;
  transition-duration: 0.6s;
}

.fonctionnement__titre {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 1rem;
  padding-left: 1.2rem;
}
.fonctionnement__item {
  display: flex;
  background: #f6f6f6;
  border-radius: 18px;
  padding: 1.8rem 2.2rem;
  margin: 1.2rem;
  box-shadow: 5px 5px 11px rgba(179, 179, 179, 0.726);
  position: relative;
}
.fonctionnement__item:hover {
  background: #9256dc2a;
}
.fonctionnement__puce {
  position: absolute;
  left: -15px;
  top: 25px;
  color: white;
  text-align: center;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 100%;
  background: #9356dc;
  padding-top: 0.2rem;
}
.fonctionnement__txt {
  font-weight: 500;
}
.articles {
  background-color: #f6f6f6;
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 2rem;
}
.articles__topheader {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 1rem;
  padding-left: 1.2rem;
}

.article {
  position: relative;
  box-shadow: 0px 5px 8px rgba(179, 179, 179, 0.726);
  border-radius: 12px 12px 12px 12px;
  margin: 0.7rem 1.2rem 0.7rem 1.2rem;
}
.article:visited {
  color: black;
}
.article__image {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
}
.article__nouveau {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #99e2d0;
  color: #008766;
  padding: 0.4rem 0.7rem 0.4rem 0.7rem;
  font-size: 0.9rem;
  border-radius: 2px;
  font-weight: 500;
  box-shadow: 1px 5px 5px rgba(97, 97, 97, 0.288);
}
.article__footer {
  display: flex;
}
.article__txt {
  width: 100%;
}
.article__titre {
  font-size: 1.1rem;
  font-weight: 700;
  padding: 0.6rem 0 0.2rem 0.7rem;
}
.article__soustitre {
  display: block;
  padding: 0rem 0 0.8rem 0.7rem;
}
.footer {
  background-color: #353535;
  padding-left: 1.5rem;
  color: white;
  font-size: 0.9rem;
}
.footer ol {
  list-style: none;
}
.footer__logo {
  font-family: "Shrikhand", cursive;
  font-weight: 100;
  font-size: 1rem;
  color: white;
  padding: 0.8rem 0 0.8rem 0;
}
.footer__item {
  padding-bottom: 0.5rem;
}
.footer .fas.fa-utensils {
  margin-right: 0.5rem;
  font-size: 0.8rem;
}
.footer .fas.fa-hands-helping {
  margin-right: 0.3rem;
  font-size: 0.7rem;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background: white;
}

.header--withback {
  position: relative;
}
.header--withback .fas.fa-arrow-left {
  position: absolute;
  top: 30px;
  left: 33px;
  font-size: 1.2rem;
  color: #474747;
}

.imgheader {
  display: block;
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  z-index: 1;
}

.mainplats {
  padding-top: 40px;
  background: #f6f6f6;
  margin-top: -35px;
  border-radius: 35px 35px 0 0;
  position: relative;
  z-index: 5;
}

.headerplats {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.headerplats__titre {
  padding-left: 1.2rem;
  width: 100%;
  font-family: "Shrikhand", cursive;
  font-weight: 700;
  font-size: 1.7rem;
  color: black;
}
.sousmenus {
  display: grid;
}

.menu {
  display: flex;
  background: white;
  box-shadow: 0px 5px 9px rgba(224, 224, 224, 0.726);
  border-radius: 12px 12px 12px 12px;
  padding: 0.7rem;
  margin: 0 1.2rem 1.2rem 1.2rem;
}
.menu__contenu {
  width: 100%;
}
.menu__header {
  padding-left: 1.2rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0.7rem;
  margin-top: 1.5rem;
  font-size: 1.2em;
  font-weight: 300;
}
.menu__titre {
  font-size: 1.2rem;
  font-weight: 500;
  padding-bottom: 0.4rem;
}
.menu__soustitre {
  font-size: 0.9rem;
  font-weight: 400;
}
.menu__prix {
  font-size: 0.9rem;
  font-weight: 600;
  padding-top: 1.8rem;
  text-overflow: ellipsis;
}

.commander {
  margin-top: 2rem;
  padding-bottom: 4rem;
  width: 190px;
  margin-left: auto;
  margin-right: auto;
}
.commander__btn {
  padding: 0 1rem 0 1rem;
  background: linear-gradient(170deg, #ff79da, #9356dc);
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 30px;
  padding: 0.8rem 3rem;
  box-shadow: 5px 5px 11px rgba(146, 146, 146, 0.726);
}

/*# sourceMappingURL=index.css.map */
